html {
	font-size: 10px;
	font-family: "Comfortaa", sans-serif;
}

a {
	
}

body {
	background-color: #F1F8FF;
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

/*    begin style for header   */

h1 {
	font-size: 3rem;
	font-weight: normal;
	color: #647CB7;
	display: inline-flex;
	align-items: center;
	padding-bottom: 5px;
}

.logo {
	display: flex;
	height: 70px;
}

.list-nav {
	display: flex;
	width: 385px;
	list-style: none;
	height: 68px;
	font-size: 2.2rem;
	color: #B1B1B4;
	text-transform: capitalize;
	justify-content: space-around;
	align-items: center;
}

.desktop-nav {
	max-width: 588px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bg-img {
	position: absolute;
	top: 0;
	left: 0;
}

.list-nav__item {
	cursor: pointer;
}

.list-nav__item a {
	color: #B1B1B4;
	text-decoration: none;
}

.active-nav__item {
	color: #000 !important;
	font-weight: bold;
}

.header {
	background-color: #fff;
	display: flex;
	padding-top: 56px;
	justify-content: space-between;
	position: relative;
	padding-left: 47px;
	padding-right: 44px;
	padding-bottom: 70px;
	z-index: 2;
}

.header-lang-btn {
	background-color: rgba(31, 80, 134, 0.3) !important;
}

.lang-btn {
	position: relative;
	list-style: none;
	cursor: pointer;
	border: none;
	transition: width .4s;
	display: flex;
	padding: 14px;
	outline: none;
	width: 200px;
	user-select: none;
	background: #EBEFF3;
	border-radius: 11px;
	flex-wrap: wrap;
}

.lang__item {
	align-items: center;
	display: flex;
	max-height: 63px;
	height: 31px;
	margin-top: 6px;
}

.language {
	display: inline-flex;
	height: 22px;
	margin-left: 15px;
	font-weight: bold;
	font-size: 2.2rem;
	color: #fff;
}

.m-nav {
	display: none;
	z-index: 2;
}

.m-nav__btn {
	width: 79px;
	height: 39px;
	background: #657CB7;
	border: 3px solid #FFFFFF;
	border-radius: 7px;
	outline: none;
	z-index: 100;
	cursor: pointer;
}

.m-nav__btn span {
	color: #fff;
	font-size: 2.2rem;
	font-weight: bold;
	font-family: "Ubuntu", sans-serif;
}

.open_lang {
	padding-left: 14px;
	padding-bottom: 14px;
	transition: width 0.3415s;
	display: none;
	flex-wrap: wrap;
	position: absolute;
	top: 54px;
	background-color: #BBCADA;
	right: 0;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
}

.open_lang .lang__item {
	margin-top: 8px;
}

.lang__item {
	transition: 0.4s;
	width: 168px;
}

.lang-active-text {
	display: inline-flex;
	align-items: center;
	color: #fff !important;
}

.m-menu {
	z-index: 99;
	justify-content: center;
	display: flex;
	position: absolute;
	top: -2000px;
	transition: top 1s;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #6580C5;
}

.m-menu ul {
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.m-menu ul li {
	z-index: 99;
	margin-top: 15px;
}

.m-list-nav {
	display: flex;
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	justify-content: center;
}

.m-menu-lang {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.rotate {
	z-index: -10;
	position: absolute;
	width: 2319.97px;
	height: 1841.89px;
	left: -175px;
	top: -1235px;
	background: #FFFFFF;
	box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.25);
	transform: rotate(-37.31deg);
}

@media screen and (max-width: 1060px) {
	.m-nav {
		display: flex;
	}

	.desktop-nav {
		display: none;
	}
	.header {
		flex-direction: column;
		padding-left: 11px;

	}

	.logo {
		min-width: 420px;
	}

	.m-nav {
		padding-top: 26px;
		min-width: 300px;
		justify-content: flex-end;
	}

	.header {
		padding-bottom: 0px;
	}

	.tag-cloud__text-block {
		padding-top: 0px !important;
		margin-top: 70px !important;
	}

	.people {
		margin-top: 20px !important;
	}

	.blockchain {
		padding-top: 30px !important;
	}

	.daily-digest {
		margin-top: 45px !important;
	}

	.integration {
		margin-top: 50px !important;
	}

	.ethereum {
		margin-top: 50px !important;
	}

	.roadmap {
		padding-top: 100px !important;
	}

	.team {
		margin-top: 70px !important;
	}
}


@media screen and (max-width: 414px) {
	.content__container__list__item:nth-child(6) {
		position: relative;
		top: 1px;
	}

	.content__container__list__item:nth-child(7) {
		position: relative;
		top: 1px;
	}
}


/*start style for bg-anim*/

.result {
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	position: relative;
	box-sizing: border-box;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 22px;
	top: -85px;
	width: 125px;
	left: 467px;
	height: 41px;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}

.triangle {
	position: relative;
	left: 394px;
	bottom: 123px;
	width: 106px;
	height: 92px;
	background: url(../img/Polygon.svg);
}

.triangle:before {
	position: absolute;
	content: '';
	width: 15px;
	background: #7DB8FF;
	right: 6px;
	bottom: -2px;
	height: 15px;
	border-radius: 50%;
}

.triangle:after {
	content: '';
	background-color: #7DB8FF;
	position: absolute;
	right: 5px;
	bottom: -50px;
	height: 52.78px;
	border: 2px solid #7DB8FF;
	transform: rotate(-193.33deg);
}

.anim-ball-2 {
	animation-name: ball;
	animation-iteration-count: infinite;
	animation-duration: 8s;

	position: relative;
	right: -260px;
	top: 20px;
	background: linear-gradient(180deg, #7DB8FF 0%, #ADD2FF 99.98%, rgba(125, 184, 255, 0.0165746) 99.99%, rgba(125, 184, 255, 0.92) 100%);
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

@keyframes ball {
	0%, 10% {top: 20px; right: -260px;}
	25% {right: -260px; top: 120px;}
	40% {top: 120px; right: 12px;}
	60% {top:-164px; right: 12px;}
	75% {top:-164px; right: -260px;}
	90% {top: -10px; right: -260px;}
	100% {top: -10px; right: -1000px;}
}

.border {
	border: 0.5px dashed #000;
	position: relative;
	left: 100%;
	width: 700px;
}

.bottom-right {
	position: absolute;
	top: -72px;
	right: -98px;
}

.bottom-right-1 {
	top: -70px;
	right: -70px;
}

.bottom-right-2 {
	top: -70px;
	right: -85px;
}

.bottom-right-3 {
	top: -70px;
	right: -100px;
}

.bg-animate {
	margin-right: 148px;
	max-width: 600px;
	padding-left: 192px;
	padding-top: 71px;
	padding-bottom: 112px;
}

.anim-request {
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	position: relative;
	box-sizing: border-box;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 22px;
	top: 232px;
	width: 125px;
	left: 33px;
	height: 41px;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}

.anim-request:before {
	content: '';
	background-color: #7DB8FF;
	position: absolute;
	left: -19px;
	top: -30px;
	height: 52.78px;
	border: 2px solid #7DB8FF;
	transform: rotate(-56.67deg);
}

.bottom-list {
	position: absolute;
	bottom: -84px;
	left: -74px;
}

.bg-anim-rect {
	position: relative;
	width: 273px;
	height: 284px;
	border: 1px dashed #000000;
	box-sizing: border-box;
}

.anim__cloud {
	position: relative;
	top: -27px;
	left: -43px;
	background: #D3E7FF;
	border: 7px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 81px;
	width: 83px;
	height: 53px;
}

.anim__tag-cloud {
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 41px;
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 22px;
	position: relative;
	top: -30px;
	left: -193px;
	color: #FFFFFF;
}

.anim-db {
	justify-content: center;
	align-items: center;
	width: 66px;
	left: 376px;
	top: -200px;
	height: 41px;
	position: relative;
	color: #FFFFFF;
	font-weight: bold;
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	font-family: Comfortaa;
	font-size: 22px;
}

.anim-db:after {
	content: '';
	background-color: #7DB8FF;
	position: absolute;
	right: 85px;
	top: 5px;
	height: 52.78px;
	;
	height: 59.49px;
	border: 2px solid #7DB8FF;
	transform: rotate(60deg);
}

.anim-db:before {
	position: absolute;
	content: '';
	width: 15px;
	background: #7DB8FF;
	left: -60px;
	bottom: -22px;
	height: 15px;
	border-radius: 50%;
}

.anim__tag-cloud:after {
	content: '';
	background-color: #7DB8FF;
	position: absolute;
	right: -6px;
	top: -30px;
	height: 52.78px;
	border: 2px solid #7DB8FF;
	transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
}

.anim-ball {
	position: relative;
	top: -102px;
	left: -30px;
	background: #7DB8FF;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.anim-ball-req {
	position: absolute;
	top: 314px;
	left: -20px;
	background: #7DB8FF;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

/*finish style for bg-anim*/



/*    finish style for header   */

/*    Start style for .new-are */

.new-are {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1195px;
}

.new-are__row-1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	z-index: 1;
	justify-content: space-between;
}

.new-are__row-2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	z-index: 1;
	justify-content: center;
}

.text-block {
	z-index: 2;
	max-width: 426px;
	padding-top: 69px;
	z-index: 1;
}

.text-block-center {
	margin-top: 39px;
	text-align: center;
}

.text-block__title {
	margin-bottom: 26px;
	font-weight: bold;
	line-height: 3.4rem;
	font-size: 3.4rem;
	color: #657CB7;
	z-index: 2;
}

.text-block__p {
	font-weight: bold;
	line-height: normal;
	font-size: 1.76rem;
	color: #708EB2;
	z-index: 2;
}

.text-block__links-notify {
	display: inline-flex;
	background: #6580C5;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	padding: 21px 61px;
	font-size: 2.2rem;
	font-weight: bold;
	margin-right: 15px;
	color: #fff;
	z-index: 2;
	justify-content: center;
	align-items: center;
}

.text-block__links {
	margin-top: 20px;
	z-index: 2;
}

.text-block__links-release {
	font-weight: bold;
	line-height: normal;
	font-size: 22px;
	color: #6580C5;
	z-index: 2;
}

.bg-animate {
	
}

.full-ux {
	padding: 15px 29px;
	margin-top: 52px;
	vertical-align: ;
	display: inline-flex;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	line-height: normal;
	font-size: 2.2rem;
	background: #ADD2FF;
	box-shadow: 0px 0px 14px #E0E0E0;
	border-radius: 24px;
	color: #6580C5;
}

.full-ux__img {
	margin-right: 12px;
}

.m-bg-animate {
	margin-top: 85px;
	padding-bottom: 228px;
	padding-top: 111px;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-left: 59px;
	padding-right: 61px;
	min-width: 320px;
}

.m-bg-anim-rect {
	position: relative;
	width: 190.81px;
	height: 198.25px;
	border: 1px dashed #000000;
	box-sizing: border-box;
}

.m-anim-ball-2 {
	-webkit-animation: mball 8s infinite; /* Safari 4+ */
	-moz-animation:    mball 8s infinite; /* Fx 5+ */
	-o-animation:      mball 8s infinite; /* Opera 12+ */
	animation: mball 8s infinite;

	z-index: 0;
	position: relative;
	right: -40px;
	top: 128px;
	background: linear-gradient(180deg, #7DB8FF 0%, #ADD2FF 99.98%, rgba(125, 184, 255, 0.0165746) 99.99%, rgba(125, 184, 255, 0.92) 100%);
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

@-webkit-keyframes mball {
  0%, 10% {top: 128px; right: -40px;}
	22.85% {right: 11px; top: 128px;}
	35.7% {top: -70px; right: 12px;}
	48.55% {top:-70px; right: -175px;}
	61.4% {top:128px; right: -175px;}
	74.25% {top: 128px; right: -88px;}
	87.1% {top: 358px; right: -88px;}
	100% {top: 358px; right: -900px;}
}

@-moz-keyframes mball {
  0%, 10% {top: 128px; right: -40px;}
	22.85% {right: 11px; top: 128px;}
	35.7% {top: -70px; right: 12px;}
	48.55% {top:-70px; right: -175px;}
	61.4% {top:128px; right: -175px;}
	74.25% {top: 128px; right: -88px;}
	87.1% {top: 358px; right: -88px;}
	100% {top: 358px; right: -900px;}
}

@-o-keyframes mball {
  0%, 10% {top: 128px; right: -40px;}
	22.85% {right: 11px; top: 128px;}
	35.7% {top: -70px; right: 12px;}
	48.55% {top:-70px; right: -175px;}
	61.4% {top:128px; right: -175px;}
	74.25% {top: 128px; right: -88px;}
	87.1% {top: 358px; right: -88px;}
	100% {top: 358px; right: -900px;}
}


@keyframes mball {
	0%, 10% {top: 128px; right: -40px;}
	22.85% {right: 11px; top: 128px;}
	35.7% {top: -70px; right: 12px;}
	48.55% {top:-70px; right: -175px;}
	61.4% {top:128px; right: -175px;}
	74.25% {top: 128px; right: -88px;}
	87.1% {top: 358px; right: -88px;}
	100% {top: 358px; right: -900px;}
}

.m-border {
	position: absolute;
	bottom: -117px;
	right: -27px;
	width: 229px;
	transform: rotate(90deg);
	border: 0.25px dashed #000;
}

.m-border-2 {
	position: absolute;
	bottom: -232px;
	right: -715px;
	width: 800px;
	border: 0.5px dashed #000;
}

.m-triangle {
	position: absolute;
	left: 64px;
	transform: rotate(90deg);
	bottom: -162px;
	width: 106px;
	height: 92px;
	background: url(../img/Polygon.svg);
}

.m-anim__tag-cloud {
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 28px;
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: -111px;
	left: 100px;
	color: #FFFFFF;
}

.m-anim__tag-cloud:after {
	content: '';
	width: 10.48px;
	height: 10.47px;
	border-radius: 50%;
	position: absolute;
	bottom: -63px;
	right: 25px;
	background: #7DB8FF;
}

.m-anim__tag-cloud:before {
	content: '';
	right: 22px;
	bottom: -60px;
	position: absolute;
	height: 62.77px;
	background: #7DB8FF;
	border: 2px solid #7DB8FF;
	transform: matrix(-0.98, -0.19, 0.19, -0.98, 0, 0);
}

.m-anim__cloud {
	position: absolute;
	transform: rotate(90deg);
	top: -20px;
	right: -30px;
	background: #D3E7FF;
	width: 58.01px;
	height: 37px;
	background: #D5E8FF;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 81px;
}

.m-anim-request {
	justify-content: center;
	align-items: center;
	width: 99px;
	height: 28px;
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: -110px;
	left: 0px;
	color: #FFFFFF;
}

.m-anim-request:after {
	content: '';
	width: 10.48px;
	height: 10.47px;
	border-radius: 50%;
	position: absolute;
	bottom: -32px;
	left: -18px;
	background: #7DB8FF;
}

.m-anim-request:before {
	content: '';
	position: absolute;
	top: 7px;
	left: -6px;
	bottom: -60px;
	height: 49.24px;
	background: #7DB8FF;
	border: 2px solid #7DB8FF;
	transform: rotate(24deg);
}

.m-anim-db {
	justify-content: center;
	align-items: center;
	width: 47px;
	height: 29px;
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: 215px;
	left: 180px;
	color: #FFFFFF;
}

.m-anim-db:after {
	content: '';
	width: 10.48px;
	height: 10.47px;
	border-radius: 50%;
	position: absolute;
	top: -36px;
	left: -20px;
	background: #7DB8FF;
}

.m-anim-db:before {
	content: '';
	position: absolute;
	top: -37px;
	left: -3px;
	background-color: #7DB8FF;
	border: 2px solid #7DB8FF;
	height: 46px;
	transform: rotate(-36deg);
}

.m-result {
	justify-content: center;
	align-items: center;
	width: 83px;
	height: 28px;
	display: inline-flex;
	background: #7DB8FF;
	border-radius: 36px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: 280px;
	left: -20px;
	color: #FFFFFF;
}

.m-result:after {
	content: '';
	width: 10.48px;
	height: 10.47px;
	border-radius: 50%;
	position: absolute;
	top: -44px;
	right: -18px;
	background: #7DB8FF;
}

.m-result:before {
	content: '';
	position: absolute;
	top: -45px;
	right: 0;
	background-color: #7DB8FF;
	border: 2px solid #7DB8FF;
	height: 47.04px;
	transform: matrix(-0.8, -0.6, 0.6, -0.8, 0, 0);
}

.m-bottom-list {
	position: absolute;
	top: -70px;
	left: -50px;
	transform: rotate(90deg);
}

.m-bottom-right {
	transform: rotate(90deg);
	position: absolute;
	bottom: -78px;
	right: -57px;
}


@media screen and (max-width: 1560px) {
	.new-are__row-1{
		flex-direction: column;
		align-items: center;
	}

	.desktop-bg-animate {
		display: none;
	}

	.m-bg-animate {
		display: flex !important;
	}
}

@media screen and (max-width: 600px) {
	html {
		font-size: 8px;
	}

	section {
		padding: 0 10px;
	}

	.content__container__list__item {
		padding-bottom: 13px !important;
	}

	.content__container {
	}
}

/*    Finish style for .new-are */

/*    Start animate string  */

.content__container {
	overflow: hidden;
	display: inline-flex;
	height: 40px;
}

.content__container__list__item {
	font-weight: bold;
	padding-bottom: 5px;
	line-height: 3.8rem;
	font-size: 3.4rem;
	color: #657CB7;
	z-index: 2;

	-moz-animation-name: change;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	-o-animation-name: change;
	-o-animation-duration: 10s;
	-o-animation-iteration-count: infinite;
	-webkit-animation-name: change;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-name: change;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes change {
	0%, 8.28%, 100% {transform:translate3d(0,-2px,0);}
	14.28%, 22.56% {transform:translate3d(0,-45px,0);}
	28.57%,36.84% {transform:translate3d(0,-88px,0);}
	42.85%,51.12% {transform:translate3d(0,-131px,0);}
	57.13%,65.4% {transform:translate3d(0,-174px,0);}
	71.41%,79.68% {transform:translate3d(0,-217px,0);}
	85.69%,93.96% {transform: translate3d(0,-260px,0);}
}

@-o-keyframes change {
	0%, 8.28%, 100% {transform:translate3d(0,-2px,0);}
	14.28%, 22.56% {transform:translate3d(0,-45px,0);}
	28.57%,36.84% {transform:translate3d(0,-88px,0);}
	42.85%,51.12% {transform:translate3d(0,-131px,0);}
	57.13%,65.4% {transform:translate3d(0,-174px,0);}
	71.41%,79.68% {transform:translate3d(0,-217px,0);}
	85.69%,93.96% {transform: translate3d(0,-260px,0);}
}

@-moz-keyframes change {
	0%, 8.28%, 100% {transform:translate3d(0,-2px,0);}
	14.28%, 22.56% {transform:translate3d(0,-45px,0);}
	28.57%,36.84% {transform:translate3d(0,-88px,0);}
	42.85%,51.12% {transform:translate3d(0,-131px,0);}
	57.13%,65.4% {transform:translate3d(0,-174px,0);}
	71.41%,79.68% {transform:translate3d(0,-217px,0);}
	85.69%,93.96% {transform: translate3d(0,-260px,0);}
}

@keyframes change {
	0%, 8.28%, 100% {transform:translate3d(0,-2px,0);}
	14.28%, 22.56% {transform:translate3d(0,-45px,0);}
	28.57%,36.84% {transform:translate3d(0,-88px,0);}
	42.85%,51.12% {transform:translate3d(0,-131px,0);}
	57.13%,65.4% {transform:translate3d(0,-174px,0);}
	71.41%,79.68% {transform:translate3d(0,-217px,0);}
	85.69%,93.96% {transform: translate3d(0,-260px,0);}
}

/*    Finish animate string  */

/*    Start style for .tag-cloud */
@media screen and (max-width: 1060px) {
	.tag-cloud{
		flex-direction: column;
		align-items: center;
	}

	.tag-clound-wrap {
		padding-right: 0px !important;
	}

	.bg-animate {
		transform: rotate(90deg);
	}

	.tag-cloud {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 30px !important;
	}

	.ava-none {
		display: none;
	}

	.text-block__links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.text-block__links-release {
		margin-top: 15px;
	}
}

@media screen and (max-width: 600px) {
	.token-details-line-left__text {
		width: 91px !important;
	}
	
}

@media screen and (max-width: 360px) {
	html {
		font-size: 7px;
	}

	.content__container__list__item {
		padding-bottom: 18px !important;
	}
}

.tag-cloud {
	margin: 0 auto;
	padding-top: 128px;
	max-width: 1079px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.tag-cloud__accuracy {
	width: 248px;
	height: 94px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px #E0E0E0;
	border-radius: 14px;
	margin-top: 36px;
}

.tag-clound-wrap {
	padding-right: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accuracy__progress {
	padding: 15px 0;
	padding-left: 24px;
	padding-right: 5px;
	display: flex;
	justify-content: space-around;
	width: 248px;
	height: 94px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px #E0E0E0;
	border-radius: 14px;
}

.accuracy__progress-title {
	font-family: Ubuntu;
	font-weight: 400;
	font-size: 1.4rem;
	color: #947CB0;
}

.accuracy__progress-num {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 2.8rem;
	color: #000000;
}

.accuracy_progress-line {
	width: 66px;
	height: 7px;
	background: #947CB0;
	border-radius: 20px;
}

.accuracy-col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.plus-icon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;
	position: relative;	
}

.new-request__text {
	margin-left: 27px;
}

.tag-cloud__new-request {
	padding-left: 17px;
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: 2rem;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	background: #6580C5;
	width: 248px;
	height: 57px;
	border-radius: 12px;
	margin-top: 15px;
}

.plus-icon__vert,
.plus-icon__goriz {
	position: absolute;
	background-color: #fff;
	width: 20px;
	border-radius: 5px;
	height: 5px;
}

.plus-icon__vert {
	transform: rotate(90deg);
}

.people {
	margin-top: 85px;
	max-width: 630px;
	width: 58%;
	padding-left: 5px;
	margin-bottom: 30px;
}

.people__search {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding-left: 12px;
	width: 100%;
	background: rgba(196, 196, 196, 0.14);
	border-radius: 12px;
	height: 52px;
}

.people__search-text {
	margin-left: 4px;
	color: #BDBDBD;
	font-weight: 300;
	font-size: 2rem;
	font-family: Ubuntu;
}

.skills {
	padding-top: 2px;
	padding-left: 15px;
	padding-right: 13px;
	padding-bottom: 12px;
	margin-top: 5px;
	max-width: 100%;
	background: rgba(89, 171, 227, 0.15);
	border-radius: 21px;
}

.skills__programm {
	display: flex;
	flex-wrap: wrap;
}

.programm__block {
	cursor: pointer;
	margin-top: 18px;
	margin-right: 9px;
	border-radius: 13px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 2rem;
	color: #FFFFFF;
	padding: 11px 12px;
}

.programm__block-name {
	margin-left: 7px;
}

.programm__block-num {
	font-weight: 400;
	margin-left: 8px;
}

.Designer {
	max-width: 199px;
	background-color: #59ABE3;
}

.Sketch {
	background-color: #E67E23;
	max-width: 167px;
}

.Photoshop {
	background-color: #3FC380;
	max-width: 203px;
}

.Adobe {
	background-color: #89C4F4;
	max-width: 164px;
}

.XD {
	background-color: #F1A9A0;
	max-width: 128px;
}

.AE {
	background-color: #336E7B;
	max-width: 117px;
}

.programm__title {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 3rem;
	color: #828282;
	margin-top: 10px;
}

.ava-block {
	position: relative;
	display: flex;
}

.people-show {
	font-family: Ubuntu;
	font-weight: normal;
	font-size: 1.8rem;
	color: #828282;
}

.ava:first-child {
	left: 0;
}

.ava:nth-child(2) {
	position: absolute;
	left: 24px;
}

.ava:nth-child(3) {
	position: absolute;
	left: 48px;
}

.ava:nth-child(4) {
	position: absolute;
	left: 72px;
}

.ava:nth-child(5) {
	position: absolute;
	left: 96px;
}

.ava:nth-child(6) {
	position: absolute;
	left: 120px;
}

.ava:nth-child(7) {
	position: absolute;
	left: 144px;
}

.ava:nth-child(8) {
	position: absolute;
	left: 168px;
}

.people-ava {
	max-width: 333px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.m-bg-animate {
	display: none;
}


@media screen and (max-width: 1060px) {
	.blockchain {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.blockchain-col-1 {
		flex-direction: column-reverse !important;
	}

	.blockchain-col-1__rating {
		margin-top: 30px;
	}

	.daily-digest {
		display: flex;
		flex-direction: column;
	}

	.daily-digest__card {
		margin-top: 30px;
	}

	.integration {
		padding-left: 10px !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.integration-col-2 {
		margin-top: 30px;
	}

	.verification {
		margin-top: 20px !important;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.verification-col-2 {
		margin: 0 auto;
		margin-top: 40px;
	}

	.verification-col-1 {
		margin: 0 auto;
		margin-top: 30px;
	}

	.ethereum-row-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.token-details-btn-1 {
		padding-top: 13px;
		padding-bottom: 13px;

	}

	.ethereum-money {
		margin-top: 30px;
		padding-bottom: 5px;
	}

	.token-details-btns {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.token-details-btn-2 {
		margin-top: 15px;
	}

	.roadmap {
		padding-left: 42px;
		padding-right: 42px;
	}

	.roadmap-text {
		width: 236px !important;
		height: 74px !important;
	}

	.roadmap-text:before {
		width: 189px !important;
		height: 189px !important;
		left: 20px !important;
		bottom: -28px !important;
	}

	.team-row-1 {
		display: flex;
		justify-content: center;;
	}

	.team-row-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}

	.team {
		margin-left: 19px !important;
		padding-bottom: 470px;

	}

	.team-col-1,
	.team-col-2 {
		width: 234px !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.profile-hermann,
	.profile-lev,
	.profile-ios,
	.profile-blockchain,
	.profile-server,
	.profile-manager {
		top: 0 !important;
		left: 0 !important;
	}

	.profile-lev {
		margin: 0 auto;
		margin-top: 50px;
	}

	.profile-ios {
		margin: 0 auto;
		margin-top: 50px;
	}

	.profile-blockchain {
		margin: 0 auto;
		margin-top: 200px;
	}

	.profile-server {
		margin: 0 auto;
		margin-top: 350px;
	}

	.profile-manager {
		margin-top: 500px;
	}

	.team-title {
		margin-left: 0px !important;
	}
}



@media screen and (max-width: 850px) {

	.footer-menu {
		display: none;
	}

	.footer-lang {
		display: none !important;
	}

	.footer-m-menu {
		display: flex;
	}

	.social-link-name {
		display: none;
	}

	.footer__social-links {
		margin-bottom: 60px;
	}
}

.footer-m-menu {
	display: none;
}
/*   finish style for tag-cloud  */

/*   srart style for .blockchain  */

.blockchain {
	justify-content: space-between;
	padding-top: 161px;
	width: 100%;
	max-width: 835px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.blockchain-col-1 {
	max-width: 306px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blockchain-col-1__rating {
	width: 272px;
	height: 94px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 16px;
	padding-left: 24px;
	box-shadow: 0px 0px 10px #E0E0E0;
	border-radius: 14px;
}

.rating__title {
	font-family: Ubuntu;
	font-size: 1.4rem;
	color: #FE5E5A;
}

.rating-value {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 2.8rem;
	color: #000000;
}

.rating-total {
	margin-left: 4px;
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 1.8rem;
	color: #000000;
}

.rating-left_num {
	display: flex;
	align-items: center;
}

.reviews {
	position: relative;
	padding-left: 14.79px;
	padding-top: 16.07px;
	margin-top: 27px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px #E0E0E0;
	border-radius: 14px;
	width: 306px;
	height: 249.78px;
}

.review {
	display: flex;
	padding-right: 31px;
}

.reviews__line {
	position: absolute;
	width: 9px;
	right: 0;
	height: 170px;
	background: #7DB8FF;
	border-radius: 59px;
}

.reviews__info {
	margin-top: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review__info-name {
	font-family: Ubuntu;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6580C5;
	border-radius: 20px;
	width: 60.29px;
	height: 21.02px;
}

.review__info-value {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 1.8rem;
	margin-top: 4px;
	color: #828282;
}

.review__info-name__active {
	background: #FF5E59;
}

.reviews__text {
	margin-left: 10px;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 18px;
	color: #828282;
}

.blockchain-col-2 {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.blockchain-text-block {
	padding: 0px 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.console {
	padding-left: 21px;
	padding-top: 19px;
	max-width: 422px;
	height: 208px;
	background: #000000;
	box-shadow: 0px 0px 10px #828282;
	border-radius: 12px;
}

.cosole-menu {
	width: 65px;
	height: 16px;
	display: flex;
	justify-content: space-between;
}

.console-menu__item {
	width: 16px;
	border-radius: 50%;
	height: 16px;
}

.console-menu__item:nth-child(1) {
	background: #FE544E;
}

.console-menu__item:nth-child(2) {
	background: #FFB828;
}

.console-menu__item:nth-child(3) {
	background: #22C439;
}

.console__commands {
	margin-top: 36px;
}

.command-item {
	color: #fff;
	font-family: Source Code Pro;
	font-weight: 500;
	font-size: 1.8rem;
}

.command-item-2 {
	color: #219653;
}

/*   finish style for .blockchain  */

/*   start style for .daily-digest  */

.daily-digest {
	align-items: center;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 915px;
}

.daily-digest-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.daily-digest__text {
	padding-top: 0;
}

.daily-digest-text-block__p {
	max-width: 295px;
}

.daily-digest__anim-block {
	margin-top: 24px;
	width: 92px;
	position: relative;
	height: 86px;
}

.anim-block__item {
	position: absolute;
	background: rgba(173, 210, 255, 0.44);
	border-radius: 10px;
	width: 65px;
	height: 65px;
}

.anim-block__item:nth-child(1) {
	bottom: 0;
	left: 0;
}

.anim-block__item:nth-child(2) {
	bottom: 10px;
	left: 13px;
}

.anim-block__item:nth-child(3) {
	top: 0;
	right: 0;
}

.daily-digest {
	margin-top: 188px;
}

.daily-digest__card {
	display: flex;
	flex-direction: column;
	color: #fff;
	max-width: 257px;
	padding: 20px 24px;
	border-radius: 8px;
	max-height: 290;
}

.card-andrey {
	background-color: #708EB2;
	box-shadow: 0px 0px 20px #99AFC8;
}

.card-evgeny {
	background-color: #6580C5;
	box-shadow: 0px 0px 20px rgba(70, 111, 155, 0.7);
}

.card__title {
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 2.4rem;
	color: #FFFFFF;
}

.card__text {
	margin-top: 5px;
	margin-bottom: 14px;
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 1.4rem;
	color: #FFFFFF;
}

.title-evgeny {
	font-size: 2rem;
}

.card__people {
	display: flex;
	align-items: center;
}

.card__people-name {
	margin-left: 7px;
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 2rem;
	color: #FFFFFF;
}

.card__people-accuracy {
	display: flex;
	flex-direction: column;
}

.card__people-accuracy__title {
	font-family: Ubuntu;
	margin-top: 12px;
	font-size: 1.2rem;
	color: #FFFFFF;
}

.card__rating {
	font-weight: 400;
}

.card__people-accuracy__value {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 1.8rem;
	color: #FFFFFF;
}

.card__people-accuracy-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__people-price {
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 3.6rem;
	color: #FFFFFF;
}

.card__people-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 29px;
}

.btns-center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center !important;
}

.card__people-btns-evgeny {
	width: 150px;

	display: flex;
	justify-content: space-between;
}

.card-btn__name {
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 1.2rem;
	position: relative;
	top: 4px;
	color: rgba(255, 255, 255, 0.64);
}

.card-btn {
	display: flex;
	flex-direction: column;
}

.btn-sharing {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 51px;
	flex-direction: column;
}

.img-sharing {
	margin-top: 3px;
}

/*finish style for daily-digest*/

/*start style for integration*/
.integration {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
 	max-width: 693px;
 	padding-left: 43px;
	margin-top: 180px;
}

.integration-col-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 326px;
}

.integration__text {
	padding-top: 0;
	max-width: 260px;
}

.integration-message {
	background: #FFFFFF;
	border: 0.5px solid #C3CEDE;
	box-sizing: border-box;
	border-radius: 1.6rem;
	max-width: 326px;
	width: 100%;
	padding-right: 20px;
	height: 96px;
	padding-top: 16px;
	padding-left: 26px;
	border-bottom-left: none;
	position: relative;
}

.integration-message:before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: -5px;
	z-index: -1;
	width: 27px;
	height: 17px;
	background: url(../img/Part.svg);
}

.integration-message:after {
	content: '';
	position: absolute;
	width: 28px;
	height: 18px;
	right: 7px;
	bottom: 11px;
	background: url(../img/Read.svg);
}

.integration-message-text {
	letter-spacing: -0.45px;
	color: #000000;
	font-family: SF UI Display;
	line-height: 22px;
	font-weight: 400;
	font-size: 1.7rem;
	display: inline-block;
}

.integration-message {
	margin-top: 30px;
}

.weight-500 {
	font-weight: 500;
}

.services-icons {
	width: 271px;
}

.services-icons__line-1,
.services-icons__line-2 {
	display: flex;
	justify-content: space-between;
}

.services-icons__line-2 {
	margin-top: 16px;
}

.services-icons__text {
	margin-top: 30px;
	width: 271px;
	display: inline-flex;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 1.8rem;
	color: #708EB2;
	justify-content: center;
}

/*finish style for integration*/

/*start style for verification*/

.verification {
	padding-left: 15px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 177px;
	width: 100%;
	max-width: 639px;
}

.verification-text-block__title {
	max-width: 240px;
}

.verification__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
	margin-top: 0;
}

.verification-text-block__p {
	max-width: 311px; 
}

.hermann {
	padding-right: 17px;
	padding-left: 21px;
	padding-top: 15px;
	background: #FFFFFF;
	box-shadow: 0px 0px 60px rgba(94, 132, 255, 0.25);
	border-radius: 14px;
	width: 248px;
	height: 171px;
	position: relative;
}

.hermann:after {
	content: '';
	bottom: -16px;
	left: -15px;
	z-index: -1;
	position: absolute;
	display: block;
	background-color: #6580C5;
	border-radius: 12px;
	width: 277px;
	height: 66px;
}

.hermann__top-info {
	display: flex;
	justify-content: space-between;
}

.top-info__name {
	font-family: Ubuntu;
	font-size: 1.6rem;
	color: #59A9E5;
}

.top-info__value {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 2.8rem;
	color: #000000;
	margin-top: 4px;
}

.top-info__social {
	margin-left: 2px;
	margin-top: 9px;
	width: 94px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 4px;
	justify-content: space-between;
}

.top-info__verif {
	font-family: Ubuntu;
	font-size: 1.6rem;
	color: #59A9E5;
}

.hermann-link {
	font-family: Ubuntu;
	font-size: 1.6rem;
	color: #59A9E5;
	margin-left: 5px;
}

.hermann-link-block {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.this-page {
	color: #B3D8F3;
}

/*finish style for verification*/

/*start style for ethereum*/

.ethereum {
	width: 100%;
	margin: 0 auto;
	margin-top: 194px;
	max-width: 617.78px;
}

.ethereum-row-1 {
	display: flex;
	justify-content: space-between;
	padding-right: 11.78px;
}

.ethereum-text-block__title {
	padding-top: 34px;
	font-weight: bold;
	font-size: 3rem;
}

.ethereum-text-block__p {
	max-width: 287px;
	font-size: 1.8rem;
}

.ethereum-pay {
	display: inline-flex;
	align-items: center;
	background-color: #2F80ED;
	box-shadow: 2px 2px 20px #C2CFDF;
	border-radius: 16px;
	padding-top: 12px;
	padding-left: 2px;
	padding-bottom: 8px;
	padding-right: 10px;
	margin-top: 21px;
}

.ethereum-pay-text {
	position: relative;
	right: 4px;
	font-family: Ubuntu;
	font-size: 2.4rem;
	color: #F1F8FF;
}

.ethereum-money {
	width: 248px;
}

.money-block {
	display: flex;
	width: 248px;
	height: 107px;
	padding-left: 23px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px #E0E0E0;
	border-radius: 14px;
}

.money-block__title {
	font-family: Ubuntu;
	font-size: 1.4rem;
	color: #F7971F;
}

.money__currency {
	display: inline-flex;
	width: 53px;
	height: 20px;
	background: #F7971F;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-family: Ubuntu;
	font-weight: bold;
	font-size: 1.4rem;
	color: #FFFFFF;
}

.money__currency:first-child {
	margin-bottom: 6px;
}

.img-wallet {
	margin-top: 12px;
	background: #F7971F;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	width: 64px;
	height: 64px;
}

.money-value {
	margin-top: 7px;
	font-family: Ubuntu;
	font-size: 2.8rem;
	color: #000000;
	font-weight: 500;
}

.money-col-1 {
	padding-top: 12px;
	display: flex;
	flex-direction: column;
}

.money-col-2 {
	padding-top: 24px;
	margin-left: 34px;
	margin-right: 8px;
	display: flex;
	flex-direction: column;
}

.key-block {
	margin-top: 7px;
	width: 248px;
	height: 114px;
	background-color: rgba(194, 207, 223, 0.4);
	border-radius: 9px;
}

.key-row-1 {
	display: inline-flex;
	margin-top: 14px;
	width: 100%;
	justify-content: center;
	font-family: Ubuntu;
	font-weight: bold;
	font-size: 1.8rem;
	color: #828282;
}

.key-rate-col {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Ubuntu;
	font-size: 2.4rem;
	color: #000000;
	
}

.rate-eth-val {
	margin-right: 33px;
}

.rate-mnd-val {
	margin-right: 33px;
}

.key-rate {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.key-btns {
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

.key__btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	border: none;
	background: #F7971F;
	border-radius: 21px;
}

.key__btn:first-child {
	margin-right: 5px;
}

.key__btn-text {
	font-family: Ubuntu;
	font-weight: bold;
	font-size: 1.8rem;
	color: #F1F8FF;
	margin-left: 5px;
}

.ethereum-row-2 {
	padding-top: 73px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.token-details {
	border-radius: 34px;
	overflow: hidden;
	position: relative;
	padding-bottom: 24px;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 396px;
	width: 100%;
	padding-right: 48px;
	padding-left: 48px;
}

.token-details:after {
	position: absolute;
	content: '';
	width: 410px;
	height: 470px;
	background-size: cover;
	top: -10px;
	z-index: -1;
	left: -10px;
	background: url(../img/wave.svg);

}

.token-details-row-info {
	margin-top: 22px;
	max-width: 300px;
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.token-details__title {
	padding-left: 13px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.6rem;
	color: #FFFFFF;
}

.token-details__ended {
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 1.8rem;
	display: inline-flex;
	color: #FFFFFF;
	background: rgba(101, 128, 197, 0.29);
	border-radius: 11px;
	width: 126px;
	justify-content: center;
	align-items: center;
	height: 37px;
}

.token-details-lines {
	max-width: 396px;
	width: 100%;
	margin-top: 20px;
}

.token-details-line__titile {
	font-family: Sunflower;
	font-weight: 300;
	margin-left: 8px;
	font-size: 1.4rem;
	color: #FFFFFF;
}

.token-details-line-left {
	padding-left: 13px;
	display: flex;
	align-items: center;
}

.long-title {
	margin-bottom: -7px;
	margin-top: -1px;
}

.token-details-line {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-top: 10px;
	padding-bottom: 13px;
}

.token-details-line:first-child {
	border-top: none;
}

.token-details-line:last-child {
	border-bottom: none;
}

.token-details-line-left__text {
	display: inline-flex;
	width: 129px;
	color: #fff;
	font-family: Sunflower;
	font-weight: 300;
	font-size: 1.6rem;
}

.token-details-line-left__text:nth-child(5) {
	color: #000;
}

.token-details-line {
	display: flex;
	justify-content: space-between;
}

.token-details-btn-1 {
	display: inline-flex;
	align-items: center;
	background: #4B90EF;
	box-shadow: 0px 0px 10px #E0E0E0;
	padding-right: 25px;
	border-radius: 24px;
	padding-left: 29px;
}

.token-details-btn-2 {
	padding-left: 22px;
	border-radius: 24px;
	padding-top: 14px;
	padding-bottom: 13px;
	padding-right: 21px;
	display: inline-flex;
	align-items: center;
	background: #4B90EF;
	box-shadow: 0px 0px 10px #E0E0E0;
}

.token-details-btn__text {
	margin-left: 9px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.2rem;
	color: #F1F8FF;
}

.token-details-btns {
	margin-top: 13px;
	display: flex;
	width: 395px;
	justify-content: space-between;
}
/*finish style for ethereum*/

/*start style for Roadmap*/

.roadmap {
	padding-top: 191px;
	min-width: 236px;
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.roadmap-title {
	background: #679EDB;
	border-radius: 25px;
	justify-content: center;
	padding-top: 18px;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.6rem;
	color: #FFFFFF;
	display: inline-flex;
	width: 173px;
	height: 88px;
	position: relative;
	top: 31px;
}

.roadmap-text {
	position: relative;
	background: #708EB2;
	border-radius: 21px;
	max-width: 360px;
	min-width: 236px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 98px;
	flex-direction: column;
	font-weight: 400;
	font-size: 2.4rem;
	font-family: Ubuntu;
	color: #fff;
}

.roadmap-text:after {
	content: '';
	display: block;
	background: #27AE60;
	height: 39px;
	width: 39px;
	border-radius: 50%;
	position: absolute;
	bottom: -23px;
	right: -25px;
	border: 8px solid #F1F8FF;
	box-sizing: border-box;
}

.roadmap-text:before {
	z-index: -1;
	content: '';
	position: absolute;
	display: block;
 	width: 369px;
	height: 369px;
	left: -86px;
	border: 1px dashed #828282;
	box-sizing: border-box;
	border-radius: 50%;
	bottom: -108px;
 }

/*finish style for Roadmap*/

/*start style for team*/

.team {
	max-width: 893px;
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	margin-top: 134px;
	min-height: 780px;
}

.team__profile {
	position: relative;
	padding-left: 89px;
	padding-bottom: 17px;
	padding-top: 22px;
	background: #6580C5;
	width: 235px;
	box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.17);
	border-radius: 20px;
}

.profile-name {
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.2rem;
	color: #E5EBF1;
	margin-bottom: 6px;
}

.profile-position {
	font-family: Comfortaa;
	font-size: 1.8rem;
	color: #E5EBF1;

}

.team-title {
	font-family: Ubuntu;
	margin-left: 180px;
	font-weight: 500;
	font-size: 4rem;
	color: #6580C5;
	opacity: 0.9;
}

.profile-social {
	position: absolute;
	bottom: 14px;
	left: -15px;
}

.profile-ava {
	position: absolute;
	top: -45px;
	left: -16px;
}

.profile-hermann {
	top: 130px;
	position: relative;
 	left: 152px;
}

.profile-lev {
	position: relative;
	left: 113px;
	top: 195px;
}

.team-row-2 {
	display: flex;
}

.team-col-1 {
	width: 50%;
	margin-top: 29px;
	position: relative;
}

.profile-ios {
	position: absolute;
	right: 0px;
}

.profile-blockchain {
	position: absolute;
	right: 90px;
	top: 268px;
}

.profile-server {
	position: absolute;
	right: 181px;
	top: 418px;
}

.profile-manager {
	position: absolute;
	right: 312px;
	top: 568px;
}

.team-col-2 {
	padding-top: 118px;
	width: 50%;
	position: relative;
}

.team-col-1:before {
	content: '';
	left: -10px;
	top: 20px;
	position: absolute;
	display: block;
	border-radius: 50%;
	background: rgba(173, 210, 255, 0.46);
	width: 460.07px;
	height: 460.07px;
}

.bg-list {
	position: absolute;
	right: 48px;
	z-index: -1;
	top: -70px;
}


@media screen and (max-width: 1060px) {
	.bg-list {
		position: absolute;
		right: -250px;
		z-index: -1;
		top: -130px;
	}

	.team-col-1:before {
		content: '';
		left: -100px;
		top: -20px;
		position: absolute;
		display: block;
		border-radius: 50%;
		background: rgba(173, 210, 255, 0.46);
		width: 460.07px;
		height: 460.07px;
	}
}
/*finish style for team*/

/*start style for footer*/

.footer {
	position: relative;
	margin-top: 30px;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: #D3E7FF;
}

.footer:before {
	content: '';
	position: absolute;
	height: 150px;
	width: 150%;
	transform: rotate(-4deg);
	background-color: #F1F8FF;
	top: -75px;
}

.footer-wrap {
	padding-top: 132px;
	display: flex;
	justify-content: space-between;
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
}

.footer__social-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
}

.social-links-block {
	display: flex;
}

.social-link {
	align-items: center;
	display: flex;
}

.social-link-name {
	font-family: Comfortaa;
	font-size: 2.4rem;
	color: #657CB7;
	margin-left: 7px;
}

.social-links-col-2,
.social-links-col-1 {
	display: flex;
	flex-direction: column;
}

.social-links-col-2 {
	margin-left: 33px;
}

.social-links-title {
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.4rem;
	color: #657CB7;	
}

.social-link {
	margin-top: 13px;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	width: 33%;
}

.nav-footer-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-footer-menu__item {
	font-family: Comfortaa;
	font-size: 2.4rem;
	color: #7289C0;
}

.nav-footer {
	margin-bottom: 39px;
}

.footer-bold {
	font-weight: bold;
}

.nav-footer-menu__item:nth-child(3) {
	margin-top: 12px;
}

.nav-footer-menu__item:nth-child(2) {
	margin-top: 12px;
}

.footer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.footer-flag__hong-kong {
	margin-right: 13px;
}

.footer-flag {
	margin-top: 20px;
	display: flex;
}

.footer-year {
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.3rem;
	color: #6580C5;
	margin-top: 20px;
}

.footer-lang {
	width: 33%;
	display: flex;
	flex-direction: column;
}

.footer-lang__title {
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 2.4rem;
	color: #657CB7;
	margin-bottom: 22px;
}

.footer-lang {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-lang-btn {
	width: 200px !important;
	background-color: rgba(174, 211, 255, 0.7);
}

@media screen and (max-width: 1100px) {
	.footer-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/*finisg style for footer*/

@font-face {
	font-family: "SF UI Display"; 
	src: url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
}
@font-face{
	font-family: "SF UI Display";
	src: url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
	font-style: normal; 
	font-weight: 500; 
}


/*   анимации появления  */


/*@keyframes right {
	0% {right: -1300px;}
	100% {right: 0;}
}

@-o-keyframes right {
	0% {right: -1300px;}
	100% {right: 0;}
}

@-moz-keyframes right {
	0% {right: -1300px;}
	100% {right: 0;}
}

@-webkit-keyframes right {
	0% {right: -1300px;}
	100% {right: 0;}
}

@keyframes left {
	0% {left: -1300px;}
	100% {left: 0;}
}

@-o-keyframes left {
	0% {left: -1300px;}
	100% {left: 0;}
}

@-moz-keyframes left {
	0% {left: -1300px;}
	100% {left: 0;}
}

@-webkit-keyframes left {
	0% {left: -1300px;}
	100% {left: 0;}
}

@keyframes bot {
	0% {bottom: -1300px;}
	100% {bottom: 0;}
}

@-o-keyframes bot {
	0% {bottom: -1300px;}
	100% {bottom: 0;}
}

@-moz-keyframes bot {
	0% {bottom: -1300px;}
	100% {bottom: 0;}
}

@-webkit-keyframes bot {
	0% {bottom: -1300px;}
	100% {bottom: 0;}
}*/





.footer-menu-anim {
	bottom: -1300px;
	transition: bottom 1s;
	position: relative;
}

.roadmap-anim {
	bottom: -1300px;
	transition: bottom 1s;
	position: relative;
}

.ethereum-row-2-anim {
	bottom: -1300px;
	transition: bottom 1s;
	position: relative;
}

.card-evgeny-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative;
}

.card-andrey-anim {
	bottom: -1300px;
	transition: bottom 1s;
	position: relative;
}

.daily-digest-col-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.new-are__text-block-bot-anim {
	bottom: -1300px;
	transition: bottom 1s;
	position: relative;
}

.footer__social-links-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.team-col-1-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.verification__text-left-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.verification-col-1-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.integration-col-1-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.blockchain-col-1-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.tag-clound-wrap-anim {
	bottom: -1300px;
	left: -1300px;
	transition: left 1s;
	position: relative;
}

.new-are__text-block-anim {
	bottom: -1300px;
	transition: left 1s;
	left: -1300px;
	position: relative;
}


.people-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative; 
}

.blockchain-col-2-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative; 
}

.desktop-bg-animate-anim {
	right: -1300px;
	transition: 1s;
	position: relative;
}

.integration-col-2-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative;
}

.verification-col-2-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative;
}

.ethereum-money-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative;
}

.team-col-2-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative;
}

.footer-lang-anim {
	bottom: -1300px;
	right: -1300px;
	transition: right 1s;
	position: relative;
}
